

<div  >
    <div th:fragment="sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4">Mi App</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a th:href="@{/index}" class="nav-link active" aria-current="page">
                        Inicio
                    </a>
                </li>
                <li>
                    <a th:href="@{/reporte}" class="nav-link link-dark">
                        Reportes
                    </a>
                </li>
                <li>
                    <a th:href="@{/clientes}" class="nav-link link-dark">
                        Clientes
                    </a>
                </li>
                <li>
                    <a th:href="@{/empresa}" class="nav-link link-dark">
                        Empresas
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</div>